.country_container {
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#country-select {
    max-width: 30rem;
    min-width: 10rem;
    width: 50%;
    margin: auto;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #704b4b;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 1s;
    background-color: #212534;
}
.country_txt {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}
.inner_container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: fit-content;
    margin: auto;
    justify-content: space-between;
    border-bottom: white 1px solid;
}
.inner_container:first-child {
    justify-content: space-evenly;
    border: none;
}
.country_title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}