* {
    scroll-behavior: smooth;
}


.icon {
    color: white;
    font-size: 50px;
    margin: 50px;
    cursor: pointer;
    transition: 1.2s;
}
.icon:hover {
    color: #704b4b;
}
.font_container {
    display: flex;
    flex-direction: row-reverse;
}